[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cvms"]
	path = cvms
	url = https://github.com/ludvigolsen/cvms
[submodule "groupdata2"]
	path = groupdata2
	url = https://github.com/ludvigolsen/groupdata2
[submodule "rearrr"]
	path = rearrr
	url = https://github.com/ludvigolsen/rearrr
[submodule "xpectr"]
	path = xpectr
	url = https://github.com/ludvigolsen/xpectr
